In [1]:
# data analysis and wrangling
import pandas as pd
import io
#import csv
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

import xlrd
import xlwt
import csv

# machine learning

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [25]:
# Loading the data set

bank = pd.read_csv('/Users/maheshreddy/Documents/GitHub Destop/PHBS_TQFML/HW/Data Sets/bank/bank.csv', header = 0)
bank_sub = pd.read_csv('/Users/maheshreddy/Documents/GitHub Destop/PHBS_TQFML/HW/Data Sets/bank/bank.csv', usecols=['age', 'balance', 'day', 'month'])
Y=bank.y

month_num=bank_sub.month
month_num.replace(('jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'), (1,2,3,4,5,6,7,8,9,10,11,12), inplace = True)

Y.replace(('yes', 'no'), (1, 0), inplace=True)
#month_num.replace(('jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'), (1,2,3,4,5,6,7,8,9,10,11,12), inplace = True)

#print(Y)
#print(month_num)

bank_sub

      age  balance  day  month
0      30     1787   19     10
1      33     4789   11      5
2      35     1350   16      4
3      30     1476    3      6
4      59        0    5      5
5      35      747   23      2
6      36      307   14      5
7      39      147    6      5
8      41      221   14      5
9      43      -88   17      4
10     39     9374   20      5
11     43      264   17      4
12     36     1109   13      8
13     20      502   30      4
14     31      360   29      1
15     40      194   29      8
16     56     4073   27      8
17     37     2317   20      4
18     25     -221   23      5
19     31      132    7      7
20     38        0   18     11
21     42       16   19     11
22     44      106   12      6
23     44       93    7      7
24     26      543   30      1
25     41     5883   20     11
26     55      627    5      5
27     67      696   17      8
28     56      784   30      7
29     53      105   21      8
...   ...      ...  ...    ...
4491   35        0   16      4
4492   32      309   16      4
4493   28        0    4      6
4494   26      668   28      5
4495   48     1175   18     11
4496   30      363   28      7
4497   31       38   20     11
4498   31     1183   27      5
4499   45      942   21     11
4500   38     4196   12      5
4501   34      297   26      8
4502   42      -91    5      2
4503   60      362   29      7
4504   42     1080   13      5
4505   32      620   26      5
4506   42     -166   29      8
4507   33      288   17      4
4508   42      642   16      5
4509   51     2506   30     11
4510   36      566   20      5
4511   46      668   15      5
4512   40     1100   29      5
4513   49      322   14      8
4514   38     1205   20      4
4515   32      473    7      7
4516   33     -333   30      7
4517   57    -3313    9      5
4518   57      295   19      8
4519   28     1137    6      2
4520   44     1136    3      4

[4521 rows x 4 columns]

In [26]:
#Creating Training and Testing Variables

X_train, X_test, Y_train, Y_test = train_test_split(bank_sub, Y, test_size=0.2)
print (X_train.shape, Y_train.shape)
print (X_test.shape, Y_test.shape)

#print(Y_test)

(3616, 4) (3616,)
(905, 4) (905,)

In [27]:
#Fitting Model

#Tried for Linear Model 
lm = linear_model.LinearRegression()
model = lm.fit(X_train, Y_train)
predictions = lm.predict(X_test)

predictions[0:5]

array([0.0892994 , 0.11778132, 0.09178269, 0.10810216, 0.11113633])

In [28]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

#print(Y_pred)

99.45

In [39]:
# KNN

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn


#print(Y_pred)

90.04

In [48]:
# Logistic Regression

m= bank_sub["age"].values.reshape(-1,1)
n= bank_sub["Y"].values.reshape(-1,1)

logreg = LogisticRegression()
logreg.fit(m,np.ravel(n.astype(int))
        
plt.plot(m,n)
plot.xlabel("Age")
plot.ylabel("Probability of Subscribing")


#logreg.fit(X_train, Y_train)



#Y_pred = logreg.predict(X_test)


#Y_pred.fit(X,np.ravel(Y.astype(int)))
#acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
#acc_log

#plt.scatter(X_train,Y_pred)

SyntaxError: invalid syntax (<ipython-input-48-7a4c5575fdd4>, line 9)

In [31]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

#print(Y_pred)

88.22

In [32]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

83.19

In [33]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

#print(Y_pred)

88.38

In [34]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

86.97

In [35]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

99.97

In [36]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

99.97

In [37]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  99.97
8               Decision Tree  99.97
0     Support Vector Machines  99.45
1                         KNN  90.04
2         Logistic Regression  88.38
7                  Linear SVC  88.38
4                 Naive Bayes  88.22
6  Stochastic Gradient Decent  86.97
5                  Perceptron  83.19

In [22]:
#3 of the methods are changing values for every run. 
#Got to check them and remove them as they seem not the right methods

nan