In [5]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

import xlrd
import xlwt
import csv

# machine learning

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [23]:
# Loading the data set

columns = "age job marital education default balance housing loan contact day month duration campaign pdays previous poutcome y".split() # Declaring the column names

bank = pd.read_csv('/Users/maheshreddy/Documents/GitHub Destop/PHBS_TQFML/HW/Data Sets/bank/bank.csv', header = 0)

# Split dependent variable and independent variable

y= bank[:,]
x # Dependent Variables are AGE, BALANCE, HOUSING
original_headers = list(bank.columns.values)

# Creating the training and the testing variables

bank['split'] = np.random.randn(bank.shape[0], 1)

msk = np.random.rand(len(bank)) <= 0.8 # 80% train data and 20% test data

bank_train = bank[msk]
bank_test = bank[~msk]

print (bank)

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  \
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
5     35;"management";"single";"tertiary";"no";747;"...
6     36;"self-employed";"married";"tertiary";"no";3...
7     39;"technician";"married";"secondary";"no";147...
8     41;"entrepreneur";"married";"tertiary";"no";22...
9     43;"services";"married";"primary";"no";-88;"ye...
10    39;"services";"married";"secondary";"no";9374;...
11    43;"admin.";"married";"secondary";"no";264;"ye...
12    36;"technician";"married";"tertiary";"no";1109...
13    20;"student";"single";"secondary";"no";502;"no...
14    31;"blue-collar";"married";"secondary";"no";36...
15    40;"management";"married";"tertiary";"no";194;...
16    56;"technician";"married";"secondary";"no";407...
17    37;"admin.";"single";"tertiary";"no";2317;"yes...
18    25;"blue-collar";"single";"primary";"no";-221;...
19    31;"services";"married";"secondary";"no";132;"...
20    38;"management";"divorced";"unknown";"no";0;"y...
21    42;"management";"divorced";"tertiary";"no";16;...
22    44;"services";"single";"secondary";"no";106;"n...
23    44;"entrepreneur";"married";"secondary";"no";9...
24    26;"housemaid";"married";"tertiary";"no";543;"...
25    41;"management";"married";"tertiary";"no";5883...
26    55;"blue-collar";"married";"primary";"no";627;...
27    67;"retired";"married";"unknown";"no";696;"no"...
28    56;"self-employed";"married";"secondary";"no";...
29    53;"admin.";"married";"secondary";"no";105;"no...
...                                                 ...
4491  35;"blue-collar";"single";"secondary";"no";0;"...
4492  32;"technician";"single";"secondary";"no";309;...
4493  28;"technician";"single";"tertiary";"no";0;"ye...
4494  26;"technician";"single";"secondary";"no";668;...
4495  48;"management";"married";"tertiary";"no";1175...
4496  30;"blue-collar";"single";"secondary";"no";363...
4497  31;"entrepreneur";"single";"tertiary";"no";38;...
4498  31;"management";"married";"tertiary";"no";1183...
4499  45;"blue-collar";"divorced";"primary";"no";942...
4500  38;"admin.";"married";"secondary";"no";4196;"y...
4501  34;"management";"married";"tertiary";"no";297;...
4502  42;"services";"married";"secondary";"no";-91;"...
4503  60;"self-employed";"married";"primary";"no";36...
4504  42;"blue-collar";"single";"secondary";"no";108...
4505  32;"admin.";"single";"secondary";"no";620;"yes...
4506  42;"unemployed";"divorced";"tertiary";"no";-16...
4507  33;"services";"married";"secondary";"no";288;"...
4508  42;"admin.";"married";"unknown";"no";642;"yes"...
4509  51;"technician";"married";"tertiary";"no";2506...
4510  36;"technician";"divorced";"secondary";"no";56...
4511  46;"blue-collar";"married";"secondary";"no";66...
4512  40;"blue-collar";"married";"secondary";"no";11...
4513  49;"blue-collar";"married";"secondary";"no";32...
4514  38;"blue-collar";"married";"secondary";"no";12...
4515  32;"services";"single";"secondary";"no";473;"y...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

         split
0    -0.228880
1    -0.848137
2     0.657439
3     1.737461
4    -1.497924
5     1.414257
6    -1.371900
7    -0.573484
8     0.388206
9    -1.756819
10    1.301822
11   -0.117411
12   -1.928491
13    0.556016
14    1.919750
15    1.493963
16   -1.511626
17    1.314704
18    0.679074
19   -0.273107
20   -1.129094
21    0.233503
22   -0.382109
23   -0.717145
24    1.162102
25    2.157009
26    0.705181
27    0.980974
28    0.987245
29   -1.104285
...        ...
4491  0.049592
4492  0.869186
4493 -1.348016
4494 -1.379026
4495  0.350276
4496  0.190472
4497 -1.390808
4498  0.287670
4499  1.880551
4500  0.364329
4501  0.028374
4502 -1.376963
4503  0.350273
4504  0.022216
4505  0.368358
4506 -0.141149
4507 -0.106165
4508  0.851394
4509 -1.016520
4510  0.371479
4511  1.625278
4512  0.092344
4513  1.115648
4514  2.509039
4515 -1.371291
4516 -0.625178
4517 -0.802928
4518 -0.714821
4519  0.943230
4520  0.076819

[4521 rows x 2 columns]

In [10]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 1 columns):
age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    4521 non-null object
dtypes: object(1)
memory usage: 35.4+ KB